---
---

@import "{{ site.theme }}";


header {
    background: #2e7bcf url(../images/background-mountains.jpg);
    background-size: cover;    
}

.photo-attribute {
    align-items: flex-end;
    justify-self: flex-end;
    color: #9ddcff;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
